# IMORTING LIBRARIES

In [38]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [17]:
data=pd.read_csv('creditcard.csv',sep=',')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
data.isnull().values.any()

False

In [19]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [20]:
# separating data for analysis
legit = data[data.Class == 0]  
fraud = data[data.Class == 1]  
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [21]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [22]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [23]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [24]:
legit_sample = legit.sample(n=492)

In [25]:
# concatenating two dataframes
new = pd.concat([legit_sample, fraud], axis=0)
new.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
130087,79280.0,1.202573,-0.506840,0.851008,-0.760176,-1.158736,-0.391081,-0.753286,0.191533,2.047348,...,-0.002149,0.204489,0.012074,0.056542,0.376021,-0.651803,0.100215,0.028627,1.00,0
69259,53341.0,1.231601,-0.485420,-0.904068,-1.028968,1.591566,3.391848,-0.874681,0.865462,0.307068,...,0.052477,-0.063741,-0.094062,1.084830,0.378616,1.081038,-0.066605,0.011677,50.83,0
20174,30838.0,-0.394352,1.374560,1.921186,1.857223,0.332763,-0.396162,0.862475,-0.081615,-1.491681,...,-0.152973,-0.522030,-0.019681,0.349636,-0.181521,-0.311021,0.050541,0.072149,7.79,0
91419,63462.0,1.195597,-0.951658,1.017690,-0.545880,-1.626895,-0.447987,-1.084818,0.093642,-0.283932,...,0.454497,1.121341,-0.071780,0.432562,0.256866,-0.043151,0.037121,0.033863,69.99,0
269949,163849.0,-1.040190,1.291180,0.031361,-0.669520,0.801676,-1.076482,1.940652,-1.121313,0.373133,...,0.250676,1.017919,-0.478247,0.009118,-0.025115,-0.295807,-1.126782,-0.118611,77.04,0

In [26]:
new['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [27]:
new.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95079.294715,-0.037251,0.064743,0.108396,0.112424,0.047405,-0.023027,0.010081,0.022561,-0.037148,...,0.023660,0.033290,0.061475,0.017089,-0.01896,0.006644,0.014328,0.002485,-0.001803,79.364085
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [28]:
x = new.drop(columns='Class', axis=1)
y = new['Class']
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
130087   79280.0  1.202573 -0.506840  0.851008 -0.760176 -1.158736 -0.391081
69259    53341.0  1.231601 -0.485420 -0.904068 -1.028968  1.591566  3.391848
20174    30838.0 -0.394352  1.374560  1.921186  1.857223  0.332763 -0.396162
91419    63462.0  1.195597 -0.951658  1.017690 -0.545880 -1.626895 -0.447987
269949  163849.0 -1.040190  1.291180  0.031361 -0.669520  0.801676 -1.076482
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
130087 -0.753286  0.191533  2.047348  ... -0.254701 -0.002149  0.204489
69259  -0.874681  0.865462  0.307068  ...  0.160962  0.052477 -0.063741
20174   0.862475 -0.081615 -1.491681  ... -0.010230 -0.152973 -0.522030
91419  -1.084818  0.093642 -0.283932  ...  0.104523  0.454497  1.121341
269949  1.940652 -1.121313  0.373133  ... -0.192587  0.250676  1.017919
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
130087  0.012074  0.056542  0.376021 -0.651803  0.100215  0.028627    1.00
69259  -0.094062  1.084830  0.378616  1.081038 -0.066605  0.011677   50.83
20174  -0.019681  0.349636 -0.181521 -0.311021  0.050541  0.072149    7.79
91419  -0.071780  0.432562  0.256866 -0.043151  0.037121  0.033863   69.99
269949 -0.478247  0.009118 -0.025115 -0.295807 -1.126782 -0.118611   77.04
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [39]:
print(y)

130087    0
69259     0
20174     0
91419     0
269949    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# SPLITTING DATA

In [40]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

# MODEL TRAINING

In [35]:
model = LogisticRegression()
model.fit(x_train, y_train)

C:\Users\my pc\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(train_prediction, y_train)
print('Accuracy on Training data: ', training_data_accuracy)

Accuracy on Training data:  0.9479034307496823

In [37]:
test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(test_prediction, y_test)
print('Accuracy score on Test data: ', test_data_accuracy)

Accuracy score on Test data:  0.9390862944162437